/* BookList.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    padding-top: 20px; /* Adjust top padding for spacing */
    align-items: flex-start; /* Align items to the top of the container */
  }
  
  .input-search {
    width: 40%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center aligns text */
  }
  
  .input-search::placeholder {
    text-align: center; /* Center aligns placeholder text */
  }
  
  table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow effect */
  }
  
  table,
  th,
  td {
    border: 1px solid #ddd; /* Border style for table cells */
    padding: 8px;
    text-align: center; /* Center aligns text */
  }
  
  th {
    background-color: #f2f2f2; /* Background color for table headers */
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination button {
    margin: 0 5px;
    width: 125px;
    height: 35px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    margin: 0 10px;
  }
  
  .add-book-link {
    margin-top: 20px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #4caf50;
    font-weight: bold;
    border: 1px solid #4caf50;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .add-book-link:hover {
    background-color: #4caf50;
    color: white;
  }
  